body {
    display: flex;
    direction: rtl;
}

.sidebar {
    position: fixed;
    flex: 1;
    height: 100vh;
    background-color: var(--blue);
}

.sidebar-title {
    font-size: 1.4rem;
    padding: 15px;
    text-align: right;
    color: var(--white);
    border-bottom: 2px solid #6c48bb;
}

.sidebar-links {
    margin-top: 20px;
}

.sidebar-links li {
    position: relative;
    padding: 15px;
}

.sidebar-links li a {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    column-gap: 15px;
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--white);
}

.sidebar-links li.active {
    background-color: #391588;
}

.sidebar-links li:first-child {
    margin-bottom: 20px;
}