:root {
    --dark: #001219;
    --main-white: #f0f8ff;
    --white: #ffffff;
    --main-red: #d90429;
}

body {
    background-color: var(--main-white);
}
* {
    font-family: vazir !important;
}
.header {
    display: flex;
    flex-direction: row-reverse;
}
.navbar {
    background-color: var(--dark);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}
.navbar-brand {
    color: var(--main-red) !important;
    transition: 0.4s;
}
.nav-item .nav-link {
    color: var(--main-white);
}
.nav-item:not(:first-child) {
    margin-left: 10px;
}
.bag {
    position: relative;
    display: flex;
}
.bag span {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(140%, 2px);
    box-shadow: 5px 5px 10px #000a0f, -5px -5px 10px #001a24;
    z-index: 0;
    width: 20px;
    height: 20px;
    background-color: var(--main-white);
    color: var(--main-red);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
.intro-product {
    margin-top: 50px;
}
.intro-product__img {
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 20px 40px;
    border: 1px solid #f1f1f1;
}
.intro-product__category {
    font-size: 17px;
}
.intro-product__name {
    margin: 25px 0;
    font-size: 28px;
}
.intro-product__paragraph {
    font-size: 15px;
    color: #575757;
    border-bottom: 1px solid #b6b6b6;
    padding-bottom: 20px;
}
.intro-product__colors-content {
    border-bottom: 1px solid #b6b6b6;
    padding-bottom: 20px;
}
.intro-product__colors-title {
    margin-bottom: 10px;
    display: block;
}
.intro-product__colors {
    display: flex;
}
.intro-product__color-red {
    background-color: red;
}
.intro-product__color-red::before {
    position: absolute;
    content: "";
    border: 1px solid #818181;
    width: 38px;
    height: 38px;
    top: -3px;
    left: -3px;
    border-radius: 50%;
}
.intro-product__color-blue {
    background-color: blue;
}
.intro-product__color-blue::before {
    position: absolute;
    content: "";
    border: 1px solid #818181;
    width: 38px;
    height: 38px;
    top: -3px;
    left: -3px;
    border-radius: 50%;
}
.intro-product__color-black {
    background-color: black;
}
.intro-product__color-black::before {
    position: absolute;
    content: "";
    border: 1px solid #818181;
    width: 38px;
    height: 38px;
    top: -3px;
    left: -3px;
    border-radius: 50%;
}
.intro-product__color {
    margin-right: 12px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    position: relative;
    border-radius: 50%;
    opacity: 0.8;
    transition: all 400ms ease;
}
.intro-product__color:hover {
    opacity: 0.9;
}
.intro-product__bottom {
    margin-top: 30px;
}
.intro-product__price {
    font-size: 18px;
}
.intro-product__btn {
    margin-left: 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    opacity: 0.7;
    padding: 8px 20px;
    background-color: green;
    transition: all 400ms ease;
}
.intro-product__btn:hover {
    opacity: 0.9;
}
.footer {
    background-color: var(--dark);
    text-align: center;
    padding: 40px 0;
    margin-top: 80px;
}
.footer__text {
    color: #fff;
}
@font-face {
    font-family: "vazir";
    src: url("./Vazir/Vazir.woff2");
}
